input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-width:0px;
    border:none;
    width: 75%;
    font-size: 16pt;
}

.notes button {
    background-color: #4271ae;
    color: #ffffff;
}
.notes button:hover {
    cursor: pointer;
    background-color: #5a88c4;
    color: #ffffff;
}