.code {
    background-color: #3a3a3a;
    color: white;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-width:0px;
    border:none;
    width: 75%;
    font-size: 16pt;
}

.para {
    resize: none;
    border-width:0px;
    border:none;
    width: 75%;
    overflow: visible;
    resize: none;
    resize: both; 
    /* background-color: #d3dae5; */
}

